h1 {
    color: red;
    background-color: yellow;
}

h2 {
    color: white;
    background-color: black;
}

h3 {
    color: red;
    background-color: brown;
}

p {
    color: green;
    background-color: bisque;
    text-align: center;
}