h1 /* We can put it like - h1,p OR '*' */ {
    color: yellow;
    text-align: center;
}

p {
    color: green;
}

#p1 {
    color: red;
}

#p2 {
    color: blue;
}

#p3 {
    color: rgb(30, 255, 0);
}

#p4 {
    color: rgb(255, 0, 234);
}

#p5 {
    color: rgb(0, 255, 255);
}

#p6 {
    color: rgb(0, 0, 0);
}